extends layout

block content
  h1.df.ai-center.jc-center= title
  form.df.ai-center.jc-center(onsubmit="search(event)")
    input#keyword(type="text", placeholder="Enter the movie name...")
    button= "Search"
  #stats.df.ai-center.jc-center.w-max
    h2.good
      span= "好雷"
      span.num= 0      
    h2.bad
      span= "負雷"
      span.num= 0 
    h2.normal
      span= "普雷"
      span.num= 0
  .total.df.ai-center.jc-center.w-max
    span= "總計"
    span.num= 0
  #list.df.ai-start.jc-sa.w-max
    .good
      h3= "好雷"
      table(border="1")
        thead
          tr
            th= "push"
            th= "Title"
            th= "Author"
            th= "Date"
        tbody
    .bad
      h3= "負雷"
      table(border="1")
        thead
          tr
            th= "push"
            th= "Title"
            th= "Author"
            th= "Date"
        tbody
    .normal
      h3= "普(無)雷"
      table(border="1")
        thead
          tr
            th= "push"
            th= "Title"
            th= "Author"
            th= "Date"
        tbody
        